body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Ethereal", "Baskerville Old Face", "Baskerville", serif;
}

.consultation{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.consult p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.consult-img{
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 50%;
    margin: 40px;
    border-radius: 4px;
}

.consult-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}

.consult-text p{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.consult-text button{
    background-color: #B19F6F;
    border-color: #B19F6F;
    border-radius: 6px;
    height: 6vh;
    width: 40vh;
    font-size: 16px;
}

.consult-text button:hover{
    cursor: pointer;
    background-color: #8A7C56 ;
}